body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#top-logo{

  position:absolute;
  top:5px;
  left:5px;
  z-index:100;
}
#classroom{
  position: absolute;
  top: 5px;
  left: 5px;
  height: 98vh;
  width: 99vw;
}
