doctype html
html
    head
        title= title
        link(href='/stylesheets/style.css', rel='stylesheet')
        block stylesheets
    body
        #top-logo
            img(src= "/media/images/EDULINK-Logo.jpg" width='100px')
        block content